VIRTUAL_HOST=laraveldocker.dev
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=laraveldocker
MYSQL_USER=laraveldocker_user
MYSQL_PASSWORD=laraveldocker_pass
# Settings if a new Laravel install
# LARAVEL=blog
# DB_CONNECTION=mysql
# DB_HOST=mysql
# DB_PORT=3306
# DB_DATABASE=laraveldocker
# DB_USERNAME=laraveldocker_user
# DB_PASSWORD=laraveldocker_pass
# Set the document root if not installing Laravel
DOCUMENTROOT=public
